{$SERVER_NAME} {
        reverse_proxy shiny:3838

        header /.well-known/nostr.json Content-Type application/json
        header /.well-known/nostr.json Access-Control-Allow-Origin *
        respond /.well-known/nostr.json `{"names":{"smallworlnd":"5d9393692da6465b9e2a294223627a297e668db14a627a1597027655b962a7f2"}}`
}

centralities.api.{$SERVER_NAME} {
        reverse_proxy endpoints:8080
}

docs.{$SERVER_NAME} {
        root * /var/www/ui
        file_server
}

api.{$SERVER_NAME} {
        root * /var/www/api
        file_server

		@api {
			path /v1/* 
		}

		reverse_proxy @api endpoints:8080
}
